<div class="row">
    <h1>Hard & Soft Skills</h1>

    <div class="col-lg-2">
        <button type="button" class="btn btn-outline-dark" routerLink="/nuevahys" *ngIf="isLogged">
            Nueva Skill
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let HyS of HyS">
                    <td>
                        <circle-progress [percent]="parseInt(HyS.porcentajeHyS)" [radius]="100"
                            [imageSrc]="HyS.imgHyS" [showImage]="true" [showTitle]="false" [title]="HyS.nombreHyS"
                            [imageHeight]="70" [imageWidth]="70" [showUnits]="false" [showSubtitle]="false"
                            [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
                        </circle-progress>
                    </td>
                    <td><h3>{{HyS.nombreHyS + -HyS.porcentajeHyS}}%</h3></td>
                    <td *ngIf="isLogged"><button class="btn btn-dark" routerLink="/edithys/{{HyS.id}}"><i
                                class="bi bi-pencil-square"></i>EDITAR</button>
                    </td>

                    <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(HyS.id)"><i
                                class="bi bi-pencil-square"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>