<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="/assets/MiFoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre"> "Agustin Fernandez de la Sota" </p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi:</h1>
            <p>Hola, bienvenido a mi portfolio! Soy Agustín Fernández de la Sota, tengo 20 años y soy un estudiante de la facultad de la UAI de tercer año en Ingeniería de Sistemas. Soy de Argentina,Buenos Aires.</p>
        </span>
    </div>
</div>