<div class="row">
    <div class="container">
        <div class="logo">
            <img src="./../assets/Logo.png" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.facebook.com/agustin.fernandez.56027/"><img src="../../../assets/icono-facebook.png" id="facebook"></a>
                <a href="https://github.com/Agustin205"><img src="../../../assets/icono-github.png" id="github"></a>
                <a href="https://www.instagram.com/agussfer9/"><img src="../../../assets/icono-ig.jpg" id="Instagram"></a>
                <a href="https://twitter.com/Agusfer095"><img src="../../../assets/icono-twitter.png" id="Twitter"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()"*ngIf="!isLogged">Login</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged">Cerrar Sesion</button>
            </div>
        </div>
    </div>
</div>